@import url("shared.css");

/* Elements */

/* Classes */

/* Ids */
#chat-window {height: 80%; border: black solid 1px; margin-top: 5%;}
#chat {height: 100%;}
#chat-history {height: 85%;}
#message-area {height: 15%;}
#contacts {border-left: black solid 1px;}

#message-field {width: 85%; height: 97%; float: left; resize: none;}
#submit-button {width: 14%; height: 97%; float: right;}